#counties-filter-container, #cities-filter-container {
    display: block;
    order: 0;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    z-index: 10000;
    text-align: center;

    @media (max-width: 960px) {
        width: 95%;
    }

    &.hidden {
        animation: fadeOut 0.3s linear;
        animation-fill-mode: forwards;
    }

    &.visible {
        animation: fadeIn 0.3s linear;
        animation-fill-mode: forwards;
        display: block;
    }

    h1 {
        font-size: 2.5em;
        text-align: center;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.6);

        @media (max-width: 960px) {
            font-size: 1.5em;
            margin-bottom: 20px;
        }

        @media (max-height: 500px) {
            font-size: 1.1em;
        }
    }

    #locality-menu, #city-menu {
        font-size: 1em;
        color: rgba(255, 255, 255, 0.8);
        font-weight: 400;
        text-align: left;

        @media (max-width: 960px) {
            columns: 2;
            -webkit-columns: 2;
            -moz-columns: 2;
            font-size: 1em;
        }

        @media (max-width: 800px) {
            columns: 1;
            -webkit-columns: 1;
            -moz-columns: 1;
        }

        @media (max-height: 860px) {
            font-size: 0.8em;
        }

        @media (max-height: 600px) {
            font-size: 0.7em;
        }

        li {
            margin: 1px;
        }
    }

    #sum-of-places-in-selected-localities, #back-to-counties, #start-exploring {
        display: inline-block;
        margin-top: 40px;
        padding: 10px 20px;
        background-color: rgba(255, 255, 255, 0.1);
        color: rgba(255, 255, 255, 0.7);
        border-radius: 3px;
        cursor: pointer;
        font-weight: 400;
        transition: 0.2s;
        font-size: 1.6em;

        @media (max-width: 960px) {
            margin-top: 20px;
            font-size: 1em;
        }

        @media (max-height: 500px) {
            font-size: 0.9em;
        }

        img {
            @media (max-width: 960px) {
                height: 12px;
            }
        }

        &:hover {
            background-color: rgba(255, 255, 255, 0.2);
            color: rgba(255, 255, 255, 1);
        }

        &.inactive {
            cursor: unset;
            background: none;
            border-bottom: unset;
            border-right: unset;
            box-shadow: unset;

            &:hover {
                background: none;
                color: rgba(255, 255, 255, 0.7);
            }
        }

        span {
            display: inline-block;
            width: 20px;
            vertical-align: -1px;
            opacity: 0.6;
        }
    }

    #back-to-counties {
        margin-top: 20px;
        font-size: 1.2em;

        img {
            width: 15px;
        }

        @media (max-width: 960px) {
            margin-top: 10px;
            font-size: 0.8em;
            padding: 6px 14px;
        }
    }

    .list-wrapper {
        overflow: auto;
        background-image: linear-gradient(170deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0.05) 100%);
        overflow-x: hidden;

        &::-webkit-scrollbar {
            width: 5px;
        }

        &::-webkit-scrollbar-track {
            background-color: rgba(255, 255, 255, 0.3);
        }

        &::-webkit-scrollbar-thumb {
            background-color: rgba(255, 255, 255, 0.6);
        }

        @media (max-height: 860px) {
            max-height: 310px;
        }

        @media (max-height: 560px) {
            max-height: 210px;
        }
    }

    #city-menu {
        columns: 4;
        -webkit-columns: 4;
        -moz-columns: 4;
        font-size: 1em;
        padding: 10px;

        @media (max-width: 960px) {
            columns: 2;
            -webkit-columns: 2;
            -moz-columns: 2;
        }

        @media (max-width: 800px) {
            columns: 1;
            -webkit-columns: 1;
            -moz-columns: 1;
        }

        @media (max-height: 860px) {
            font-size: 0.8em;
        }

        @media (max-height: 600px) {
            font-size: 0.7em;
        }

    }

    #search {
        border: 0;
        margin: 10px 0 10px 0;
        padding: 10px 15px;
        font-size: 1.2em;
        background-color: rgba(255, 255, 255, 0.05);
        color: rgba(255, 255, 255, 1);
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 2px;

        @media (max-height: 500px) {
            padding: 8px 12px;
            font-size: 0.9em;
        }

        &::placeholder {
            color: rgba(255, 255, 255, 0.8);
        }
    }
}

#cities-filter-container {
    display: none;

    h1 {
        margin-bottom: 10px;
    }
}

@keyframes fadeOut {
    0% {
        position: absolute;
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 0;
        position: absolute;
    }
}

@keyframes fadeIn {
    0% {
        position: absolute;
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
        position: relative;
    }
}

#cities-filter-container.visible {
    @media (max-width: 960px) {
        height: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    @media (max-width: 960px) {
        #city-menu {
            height: 90%;
            columns: auto;
        }
    }
}
