.login, .register, .password-reset {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    .login-form, .register-form, .password-reset-form {
        display: block;
        order: 0;
        width: 60%;
        margin: 0 auto;
        padding: 120px 0 120px 0;
        border-radius: $border-radius-primary;

        @media (max-width: 960px) {
            width: 80%;
        }


        #send-email-reset-password {
            @media (max-width: 960px) {
                width: 100%;
            }
        }
    }


    .forgot-your-password {
        font-size: 1.2em;
        margin: 10px 0;
    }
}

.password-reset-form {

    h1 {
        font-size: 30px;
    }

    #send-email-reset-password {
        text-align: center;

        @media (max-width: 960px) {
            width: 80%;
        }

        .button-primary {
            font-size: 12px;
        }
    }
}
