.login, .register, .password-reset-form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  .login-form, .register-form {
    display: block;
    order: 0;
    width: 50%;
    margin: 0 auto;
    padding: 40px;
    border-radius: $border-radius-primary;

    @media (max-width: 960px) {
      width: 98%;
    }
  }

  .forgot-your-password {
    font-size: 1.2em;
    margin: 10px 0;
  }
}

.password-reset-form {

  h1 {
    font-size: 30px;
  }

  #send-email-reset-password {
    text-align: center;

    @media (max-width: 960px) {
      width: 80%;
    }

    .button-primary {
      font-size: 12px;
    }
  }
}