$color-txt-primary: #444;
$color-txt-secondary: #fc4444;
$color-ok: #0d75bc;

$btn-bg-primary: rgba(35, 105, 191, 1);
$btn-save: rgb(66, 171, 19);
$btn-color-primary: rgba(255, 255, 255, 1);
$btn-bg-secondary: #fc4444;

$border-radius-primary: 3px;

$dark_gray_linear_gradient: linear-gradient(30deg, #505050 0%, #1e1e1e 100%);
$red_linear_gradient: linear-gradient(30deg, #fc4444 0%, #bb1a1a 100%);
