@charset "UTF-8";
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 16px;
}

input, textarea, select {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
}

* {
  outline: none;
}

a {
  color: #2369bf;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

strong {
  font-weight: 600;
}

h1 {
  font-size: 3em;
  font-weight: 200;
  padding: 0;
  margin: 0 0 40px 0;
  color: #444;
  text-align: center;
}

h2 {
  font-size: 2em;
  font-weight: 200;
  padding: 0;
  margin: 20px 0 20px 0;
  color: #444;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.error-page {
  padding-top: 180px;
}

.message {
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  padding-top: 40px;
}
@media (max-width: 960px) {
  .message {
    font-size: 20px;
  }
}

.common-content {
  padding-top: 120px;
}
@media (max-width: 960px) {
  .common-content {
    padding-top: 80px;
  }
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
form, .form {
  padding: 0;
  margin: 0;
}
form .field-group, .form .field-group {
  margin-bottom: 20px;
}
form .info, .form .info {
  margin: 2px 0 0 0;
  font-size: 0.8em;
  color: #666;
}
form label, .form label {
  display: block;
  padding: 0;
  margin: 0;
  font-size: 1em;
  font-weight: 600;
  text-transform: uppercase;
  color: #444;
}
form input.text, form select, form textarea, .form input.text, .form select, .form textarea {
  width: 100%;
  padding: 8px 10px;
  box-sizing: border-box;
  margin: 5px 0 0 0;
  font-size: 1.4em;
  border: 1px solid #ddd;
  border-radius: 3px;
  color: #444;
  background: #fff;
}
form input.checkbox, .form input.checkbox {
  width: 20px;
  height: 20px;
  float: left;
  margin-top: -1px;
  margin-right: 10px;
}
form textarea, .form textarea {
  height: 400px;
}

.button {
  border: 0;
  margin: 0;
  padding: 15px 20px;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 3px;
}
.button.button-primary {
  background-color: rgb(35, 105, 191);
  color: rgb(255, 255, 255);
}

.add-to-route, .reorder {
  position: relative;
  margin: 0 0 20px 20px;
  background-color: #444;
  cursor: pointer;
  transition: 0.3s;
  display: inline-block;
  background-image: linear-gradient(30deg, #fc4444 0%, #bb1a1a 100%);
  color: #fff;
  font-size: 0.85em;
  text-transform: uppercase;
  font-weight: 600;
  padding: 8px 15px 8px 33px;
  opacity: 1;
  line-height: 1;
  border-radius: 3px;
}
.add-to-route::before, .reorder::before {
  position: absolute;
  top: 7px;
  left: 10px;
  font-size: 2em;
  line-height: 16px;
  text-align: center;
  font-weight: 400;
  height: 16px;
  width: 16px;
  color: #fc4444;
  border-radius: 8px;
  background-color: #fff;
}
@media (max-width: 960px) {
  .add-to-route, .reorder {
    margin: 0 0 10px 10px;
  }
}

.reorder {
  font-size: 0.7em;
}
.reorder::before {
  top: 5px;
  left: 10px;
  font-size: 1.3em;
}

.reorder-up::before {
  line-height: 15px;
  content: "⯅";
}

.reorder-down {
  left: unset;
  right: 20px;
}
.reorder-down::before {
  content: "⯆";
}

.add-to-route::before {
  content: "+";
}
.add-to-route.active::before {
  content: "-";
  line-height: 12px;
}
.add-to-route.disabled {
  opacity: 0.3;
  cursor: unset;
}
.delete-route, .google-maps-route, .save-route, .save-route-button, .set-private, .set-public {
  background-color: #fff;
  cursor: pointer;
  transition: 0.3s;
  display: inline-block;
  color: #fc4444;
  font-size: 0.8em;
  text-transform: uppercase;
  font-weight: 600;
  padding: 5px 10px;
  opacity: 1;
  border-radius: 3px;
  z-index: 10000;
}
.delete-route .material-icons, .google-maps-route .material-icons, .save-route .material-icons, .save-route-button .material-icons, .set-private .material-icons, .set-public .material-icons {
  font-size: 1.5em;
  vertical-align: -5px;
}

.google-maps-route {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.delete-route {
  background-color: #fc4444;
  color: #fff;
}

.save-route, .set-private, .set-public {
  background-color: rgb(35, 105, 191);
  color: #fff;
}

.route-actions {
  margin-top: 20px;
  text-align: center;
}

.save-route-button {
  border: none;
  background-color: rgb(66, 171, 19);
  color: #fff;
  margin-top: 5px;
}

.login, .register, .password-reset {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.login .login-form, .login .register-form, .login .password-reset-form, .register .login-form, .register .register-form, .register .password-reset-form, .password-reset .login-form, .password-reset .register-form, .password-reset .password-reset-form {
  display: block;
  order: 0;
  width: 60%;
  margin: 0 auto;
  padding: 120px 0 120px 0;
  border-radius: 3px;
}
@media (max-width: 960px) {
  .login .login-form, .login .register-form, .login .password-reset-form, .register .login-form, .register .register-form, .register .password-reset-form, .password-reset .login-form, .password-reset .register-form, .password-reset .password-reset-form {
    width: 80%;
  }
}
@media (max-width: 960px) {
  .login .login-form #send-email-reset-password, .login .register-form #send-email-reset-password, .login .password-reset-form #send-email-reset-password, .register .login-form #send-email-reset-password, .register .register-form #send-email-reset-password, .register .password-reset-form #send-email-reset-password, .password-reset .login-form #send-email-reset-password, .password-reset .register-form #send-email-reset-password, .password-reset .password-reset-form #send-email-reset-password {
    width: 100%;
  }
}
.login .forgot-your-password, .register .forgot-your-password, .password-reset .forgot-your-password {
  font-size: 1.2em;
  margin: 10px 0;
}

.password-reset-form h1 {
  font-size: 30px;
}
.password-reset-form #send-email-reset-password {
  text-align: center;
}
@media (max-width: 960px) {
  .password-reset-form #send-email-reset-password {
    width: 80%;
  }
}
.password-reset-form #send-email-reset-password .button-primary {
  font-size: 12px;
}

.message {
  border-radius: 3px;
  padding: 15px;
  margin-bottom: 20px;
  line-height: 1.6em;
}
.message.error {
  background-color: #efcbcb;
  color: #974d4d;
}
.message.warning {
  background-color: #f3e2ae;
  color: #473318;
}
.message.success {
  background-color: #d3efcb;
  color: #3b793a;
}

.ui-menu {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 0;
  margin: 0;
  max-width: 500px !important;
}
.ui-menu li {
  list-style: none;
  padding: 10px;
  margin: 0;
  cursor: pointer;
}
.ui-menu li:hover {
  background: #f5f5f5;
}

.ui-helper-hidden-accessible {
  display: none;
}

.filter-menu {
  margin: 0;
  padding: 0;
  columns: 2;
  page-break-inside: avoid;
  break-inside: avoid-column;
  z-index: 2000;
}
.filter-menu li {
  padding: 5px 10px 5px 10px;
  list-style: none;
  cursor: pointer;
  border-radius: 3px;
  display: inline-block;
  width: 100%;
}
.filter-menu li:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.filter-menu li.active {
  background-color: rgba(255, 255, 255, 0.1);
  background-image: url(../img/done.png);
  background-position: right 5px center;
  background-repeat: no-repeat;
  font-weight: 600;
}
.filter-menu li.active:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.search-filter-container {
  margin: 0 10px 10px 10px;
  text-align: center;
}
.search-filter-container h1 {
  text-align: center;
  font-weight: 600;
  font-size: 0.9em;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}
.search-filter-container form {
  padding: 30px;
  margin: 0 0 20px 0;
  text-align: center;
  background-color: #eee;
  display: inline-block;
  border-radius: 5px;
}
@media (max-width: 960px) {
  .search-filter-container form {
    padding: 10px;
    margin: 0 0 10px 0;
  }
}
.search-filter-container form .form-group {
  display: inline-block;
}
.search-filter-container form .form-group label {
  font-size: 0.8em;
  color: #666;
  text-transform: uppercase;
  text-align: left;
  font-weight: 400;
  display: block;
  margin-bottom: 3px;
}
@media (max-width: 960px) {
  .search-filter-container form .form-group label {
    font-size: 0.6em;
    margin-top: 5px;
  }
}
.search-filter-container form select, .search-filter-container form .submit {
  border: 0;
  margin: 0;
  padding: 10px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  display: inline-block;
  font-size: 1em;
  font-weight: 400;
  width: auto;
  border-radius: 3px;
  transition: 0.3s;
}
@media (max-width: 960px) {
  .search-filter-container form select, .search-filter-container form .submit {
    padding: 7px;
    font-size: 0.8em;
  }
}
.search-filter-container form .submit {
  cursor: pointer;
  font-weight: 400;
}
.search-filter-container form .submit:hover {
  background-color: #eeeeee;
}
@media (max-width: 960px) {
  .search-filter-container form .submit {
    margin-top: 5px;
  }
}
.search-filter-container form .subcategory-container.inactive {
  display: none;
}

.home-hero-wrapper .home-hero {
  margin-top: 80px;
  background: linear-gradient(260deg, #004ddd, #00bbdd);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@media (max-width: 620px) {
  .home-hero-wrapper .home-hero {
    margin-top: 50px;
  }
}
@media (max-height: 500px) {
  .home-hero-wrapper .home-hero {
    margin-top: 50px;
  }
}
.home-hero-wrapper .home-hero .background-airplane_1, .home-hero-wrapper .home-hero .background-airplane_2, .home-hero-wrapper .home-hero .background-clouds, .home-hero-wrapper .home-hero .background-layer_1, .home-hero-wrapper .home-hero .background-layer_2, .home-hero-wrapper .home-hero .background-layer_3, .home-hero-wrapper .home-hero .background-layer_4, .home-hero-wrapper .home-hero .background-layer_5 {
  position: absolute;
  z-index: 15;
  width: 110%;
  left: -20px;
  bottom: -20px;
}
.home-hero-wrapper .home-hero .background-clouds {
  z-index: 10;
  opacity: 0.1;
  top: -50px;
  width: 390%;
}
.home-hero-wrapper .home-hero .background-airplane_1, .home-hero-wrapper .home-hero .background-airplane_2 {
  z-index: 5;
  opacity: 0.3;
  top: 50px;
  width: 20%;
}
.home-hero-wrapper .home-hero .background-airplane_2 {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  top: 10px;
}
@keyframes cloudAnimation {
  0% {
    left: 100px;
  }
  50% {
    left: -1400px;
  }
  100% {
    left: 0px;
  }
}
@keyframes airplaneAnimation_1 {
  0% {
    left: -340px;
  }
  100% {
    left: 6000px;
  }
}
@keyframes airplaneAnimation_2 {
  0% {
    left: 3000px;
  }
  100% {
    left: -100px;
  }
}
@keyframes flickerAnimation_1 {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes flickerAnimation_1 {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes flickerAnimation_1 {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes flickerAnimation_1 {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flickerAnimation_2 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes flickerAnimation_2 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes flickerAnimation_2 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes flickerAnimation_2 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
}
@keyframes flickerAnimation_3 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes flickerAnimation_3 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes flickerAnimation_3 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes flickerAnimation_3 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes flickerAnimation_4 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes flickerAnimation_4 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes flickerAnimation_4 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes flickerAnimation_4 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes flickerAnimation_5 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes flickerAnimation_5 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes flickerAnimation_5 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes flickerAnimation_5 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.home-hero-wrapper .home-hero .background-airplane_1 {
  -webkit-animation: airplaneAnimation_1 450s infinite;
  -moz-animation: airplaneAnimation_1 450s infinite;
  -o-animation: airplaneAnimation_1 450s infinite;
  animation: airplaneAnimation_1 450s infinite;
}
.home-hero-wrapper .home-hero .background-airplane_2 {
  -webkit-animation: airplaneAnimation_2 250s infinite;
  -moz-animation: airplaneAnimation_2 250s infinite;
  -o-animation: airplaneAnimation_2 250s infinite;
  animation: airplaneAnimation_2 250s infinite;
}
.home-hero-wrapper .home-hero .background-clouds {
  -webkit-animation: cloudAnimation 250s infinite;
  -moz-animation: cloudAnimation 250s infinite;
  -o-animation: cloudAnimation 250s infinite;
  animation: cloudAnimation 250s infinite;
}
.home-hero-wrapper .home-hero .background-layer_1 {
  -webkit-animation: flickerAnimation_1 50s infinite;
  -moz-animation: flickerAnimation_1 50s infinite;
  -o-animation: flickerAnimation_1 50s infinite;
  animation: flickerAnimation_1 50s infinite;
}
.home-hero-wrapper .home-hero .background-layer_2 {
  opacity: 0;
  -webkit-animation: flickerAnimation_2 50s infinite;
  -moz-animation: flickerAnimation_2 50s infinite;
  -o-animation: flickerAnimation_2 50s infinite;
  animation: flickerAnimation_2 50s infinite;
}
.home-hero-wrapper .home-hero .background-layer_3 {
  opacity: 0;
  -webkit-animation: flickerAnimation_3 50s infinite;
  -moz-animation: flickerAnimation_3 50s infinite;
  -o-animation: flickerAnimation_3 50s infinite;
  animation: flickerAnimation_3 50s infinite;
}
.home-hero-wrapper .home-hero .background-layer_4 {
  opacity: 0;
  -webkit-animation: flickerAnimation_4 50s infinite;
  -moz-animation: flickerAnimation_4 50s infinite;
  -o-animation: flickerAnimation_4 50s infinite;
  animation: flickerAnimation_4 50s infinite;
}
.home-hero-wrapper .home-hero .background-layer_5 {
  opacity: 0;
  -webkit-animation: flickerAnimation_5 50s infinite;
  -moz-animation: flickerAnimation_5 50s infinite;
  -o-animation: flickerAnimation_5 50s infinite;
  animation: flickerAnimation_5 50s infinite;
}

#counties-filter-container, #cities-filter-container {
  display: block;
  order: 0;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  z-index: 10000;
  text-align: center;
}
@media (max-width: 960px) {
  #counties-filter-container, #cities-filter-container {
    width: 95%;
  }
}
#counties-filter-container.hidden, #cities-filter-container.hidden {
  animation: fadeOut 0.3s linear;
  animation-fill-mode: forwards;
}
#counties-filter-container.visible, #cities-filter-container.visible {
  animation: fadeIn 0.3s linear;
  animation-fill-mode: forwards;
  display: block;
}
#counties-filter-container h1, #cities-filter-container h1 {
  font-size: 2.5em;
  text-align: center;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
}
@media (max-width: 960px) {
  #counties-filter-container h1, #cities-filter-container h1 {
    font-size: 1.5em;
    margin-bottom: 20px;
  }
}
@media (max-height: 500px) {
  #counties-filter-container h1, #cities-filter-container h1 {
    font-size: 1.1em;
  }
}
#counties-filter-container #locality-menu, #counties-filter-container #city-menu, #cities-filter-container #locality-menu, #cities-filter-container #city-menu {
  font-size: 1em;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 400;
  text-align: left;
}
@media (max-width: 960px) {
  #counties-filter-container #locality-menu, #counties-filter-container #city-menu, #cities-filter-container #locality-menu, #cities-filter-container #city-menu {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    font-size: 1em;
  }
}
@media (max-width: 800px) {
  #counties-filter-container #locality-menu, #counties-filter-container #city-menu, #cities-filter-container #locality-menu, #cities-filter-container #city-menu {
    columns: 1;
    -webkit-columns: 1;
    -moz-columns: 1;
  }
}
@media (max-height: 860px) {
  #counties-filter-container #locality-menu, #counties-filter-container #city-menu, #cities-filter-container #locality-menu, #cities-filter-container #city-menu {
    font-size: 0.8em;
  }
}
@media (max-height: 600px) {
  #counties-filter-container #locality-menu, #counties-filter-container #city-menu, #cities-filter-container #locality-menu, #cities-filter-container #city-menu {
    font-size: 0.7em;
  }
}
#counties-filter-container #locality-menu li, #counties-filter-container #city-menu li, #cities-filter-container #locality-menu li, #cities-filter-container #city-menu li {
  margin: 1px;
}
#counties-filter-container #sum-of-places-in-selected-localities, #counties-filter-container #back-to-counties, #counties-filter-container #start-exploring, #cities-filter-container #sum-of-places-in-selected-localities, #cities-filter-container #back-to-counties, #cities-filter-container #start-exploring {
  display: inline-block;
  margin-top: 40px;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.7);
  border-radius: 3px;
  cursor: pointer;
  font-weight: 400;
  transition: 0.2s;
  font-size: 1.6em;
}
@media (max-width: 960px) {
  #counties-filter-container #sum-of-places-in-selected-localities, #counties-filter-container #back-to-counties, #counties-filter-container #start-exploring, #cities-filter-container #sum-of-places-in-selected-localities, #cities-filter-container #back-to-counties, #cities-filter-container #start-exploring {
    margin-top: 20px;
    font-size: 1em;
  }
}
@media (max-height: 500px) {
  #counties-filter-container #sum-of-places-in-selected-localities, #counties-filter-container #back-to-counties, #counties-filter-container #start-exploring, #cities-filter-container #sum-of-places-in-selected-localities, #cities-filter-container #back-to-counties, #cities-filter-container #start-exploring {
    font-size: 0.9em;
  }
}
@media (max-width: 960px) {
  #counties-filter-container #sum-of-places-in-selected-localities img, #counties-filter-container #back-to-counties img, #counties-filter-container #start-exploring img, #cities-filter-container #sum-of-places-in-selected-localities img, #cities-filter-container #back-to-counties img, #cities-filter-container #start-exploring img {
    height: 12px;
  }
}
#counties-filter-container #sum-of-places-in-selected-localities:hover, #counties-filter-container #back-to-counties:hover, #counties-filter-container #start-exploring:hover, #cities-filter-container #sum-of-places-in-selected-localities:hover, #cities-filter-container #back-to-counties:hover, #cities-filter-container #start-exploring:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: rgb(255, 255, 255);
}
#counties-filter-container #sum-of-places-in-selected-localities.inactive, #counties-filter-container #back-to-counties.inactive, #counties-filter-container #start-exploring.inactive, #cities-filter-container #sum-of-places-in-selected-localities.inactive, #cities-filter-container #back-to-counties.inactive, #cities-filter-container #start-exploring.inactive {
  cursor: unset;
  background: none;
  border-bottom: unset;
  border-right: unset;
  box-shadow: unset;
}
#counties-filter-container #sum-of-places-in-selected-localities.inactive:hover, #counties-filter-container #back-to-counties.inactive:hover, #counties-filter-container #start-exploring.inactive:hover, #cities-filter-container #sum-of-places-in-selected-localities.inactive:hover, #cities-filter-container #back-to-counties.inactive:hover, #cities-filter-container #start-exploring.inactive:hover {
  background: none;
  color: rgba(255, 255, 255, 0.7);
}
#counties-filter-container #sum-of-places-in-selected-localities span, #counties-filter-container #back-to-counties span, #counties-filter-container #start-exploring span, #cities-filter-container #sum-of-places-in-selected-localities span, #cities-filter-container #back-to-counties span, #cities-filter-container #start-exploring span {
  display: inline-block;
  width: 20px;
  vertical-align: -1px;
  opacity: 0.6;
}
#counties-filter-container #back-to-counties, #cities-filter-container #back-to-counties {
  margin-top: 20px;
  font-size: 1.2em;
}
#counties-filter-container #back-to-counties img, #cities-filter-container #back-to-counties img {
  width: 15px;
}
@media (max-width: 960px) {
  #counties-filter-container #back-to-counties, #cities-filter-container #back-to-counties {
    margin-top: 10px;
    font-size: 0.8em;
    padding: 6px 14px;
  }
}
#counties-filter-container .list-wrapper, #cities-filter-container .list-wrapper {
  overflow: auto;
  background-image: linear-gradient(170deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0.05) 100%);
  overflow-x: hidden;
}
#counties-filter-container .list-wrapper::-webkit-scrollbar, #cities-filter-container .list-wrapper::-webkit-scrollbar {
  width: 5px;
}
#counties-filter-container .list-wrapper::-webkit-scrollbar-track, #cities-filter-container .list-wrapper::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.3);
}
#counties-filter-container .list-wrapper::-webkit-scrollbar-thumb, #cities-filter-container .list-wrapper::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.6);
}
@media (max-height: 860px) {
  #counties-filter-container .list-wrapper, #cities-filter-container .list-wrapper {
    max-height: 310px;
  }
}
@media (max-height: 560px) {
  #counties-filter-container .list-wrapper, #cities-filter-container .list-wrapper {
    max-height: 210px;
  }
}
#counties-filter-container #city-menu, #cities-filter-container #city-menu {
  columns: 4;
  -webkit-columns: 4;
  -moz-columns: 4;
  font-size: 1em;
  padding: 10px;
}
@media (max-width: 960px) {
  #counties-filter-container #city-menu, #cities-filter-container #city-menu {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
  }
}
@media (max-width: 800px) {
  #counties-filter-container #city-menu, #cities-filter-container #city-menu {
    columns: 1;
    -webkit-columns: 1;
    -moz-columns: 1;
  }
}
@media (max-height: 860px) {
  #counties-filter-container #city-menu, #cities-filter-container #city-menu {
    font-size: 0.8em;
  }
}
@media (max-height: 600px) {
  #counties-filter-container #city-menu, #cities-filter-container #city-menu {
    font-size: 0.7em;
  }
}
#counties-filter-container #search, #cities-filter-container #search {
  border: 0;
  margin: 10px 0 10px 0;
  padding: 10px 15px;
  font-size: 1.2em;
  background-color: rgba(255, 255, 255, 0.05);
  color: rgb(255, 255, 255);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 2px;
}
@media (max-height: 500px) {
  #counties-filter-container #search, #cities-filter-container #search {
    padding: 8px 12px;
    font-size: 0.9em;
  }
}
#counties-filter-container #search::placeholder, #cities-filter-container #search::placeholder {
  color: rgba(255, 255, 255, 0.8);
}

#cities-filter-container {
  display: none;
}
#cities-filter-container h1 {
  margin-bottom: 10px;
}

@keyframes fadeOut {
  0% {
    position: absolute;
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    position: absolute;
  }
}
@keyframes fadeIn {
  0% {
    position: absolute;
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    position: relative;
  }
}
@media (max-width: 960px) {
  #cities-filter-container.visible {
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 960px) {
  #cities-filter-container.visible #city-menu {
    height: 90%;
    columns: auto;
  }
}

.map-wrapper {
  position: relative;
  padding-top: 80px;
  position: relative;
}
@media (max-width: 620px) {
  .map-wrapper {
    padding-top: 50px;
  }
}
@media (max-height: 500px) {
  .map-wrapper {
    padding-top: 50px;
  }
}
.map-wrapper #map {
  width: 100%;
  height: 400px;
}
@media (max-height: 720px) {
  .map-wrapper #map {
    height: 300px;
  }
}
@media (max-height: 400px) {
  .map-wrapper #map {
    height: 200px;
  }
}

.leaflet-popup-content-wrapper .marker-item .add-to-route {
  background-color: #eee;
  cursor: pointer;
}
.leaflet-popup-content-wrapper .marker-item .add-to-route.active {
  color: #fff;
  background-color: #444;
}
.leaflet-popup-content-wrapper, .leaflet-popup-tip {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
}

.leaflet-popup-content-wrapper {
  border-radius: 3px;
}

.leaflet-routing-container {
  display: none;
}

.place-details {
  border-right: 1px dashed #ddd;
  padding-right: 20px;
}
@media (max-width: 991px) {
  .place-details {
    border-right: none;
  }
}

@media (max-width: 991px) {
  .included-in-routes {
    margin-top: 20px;
  }
}

.place-item {
  display: block;
  position: relative;
  padding: 0;
  margin: 0;
  background-color: #f5f5f5;
  margin-bottom: 20px;
}
.place-item .title {
  display: block;
  margin: 0;
  background-image: linear-gradient(30deg, #505050 0%, #1e1e1e 100%);
  color: #eee;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1em;
  cursor: pointer;
  transition: 0.3s;
  position: relative;
  padding: 12px 15px 7px 25px;
  opacity: 1;
  border-radius: 3px 3px 0 0;
}
@media (max-width: 960px) {
  .place-item .title {
    border-radius: 0;
    padding: 10px 5px 5px 15px;
  }
}
.place-item .title:hover {
  color: #fff;
}
.place-item .title .inner-cut {
  width: 72%;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
}
.place-item .place-item-image {
  display: block;
  height: 200px;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-color: #ddd;
}
@media (max-width: 960px) {
  .place-item .place-item-image {
    height: 150px;
  }
}
.place-item .city-county {
  padding: 20px 20px 0 20px;
}
@media (max-width: 960px) {
  .place-item .city-county {
    font-size: 0.9em;
  }
}
.place-item .city-county a {
  color: #fc4444;
  border-bottom: 1px dashed #fc4444;
  transition: 0.3s;
}
.place-item .city-county a:hover {
  border-bottom: 1px dashed rgba(0, 0, 0, 0);
}
@media (max-width: 960px) {
  .place-item .city-county {
    padding: 10px 10px 0 10px;
  }
}
@media (max-width: 960px) {
  .place-item .description {
    height: auto;
  }
}
.place-item .description .content-wrapper {
  font-size: 1em;
  line-height: 1.5em;
  padding: 20px;
}
@media (max-width: 960px) {
  .place-item .description .content-wrapper {
    padding: 10px;
    font-size: 0.9em;
    line-height: 1.5em;
  }
}

.place-page .description {
  font-size: 1em;
  line-height: 1.5em;
}
.place-page .header {
  height: 500px;
  width: 100%;
  position: relative;
  background-size: cover;
  background-position: center center;
}
@media (max-width: 768px) {
  .place-page .header {
    height: unset;
  }
}
.place-page .header .details {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .place-page .header .details {
    justify-content: space-evenly;
    align-items: stretch;
    flex-wrap: wrap;
    flex-direction: column;
  }
}
.place-page .header .title-container {
  position: absolute;
  bottom: 40px;
  left: 40px;
  width: 50%;
}
@media (max-width: 768px) {
  .place-page .header .title-container {
    padding-bottom: 30px;
  }
}
@media (max-width: 1200px) {
  .place-page .header .title-container {
    width: 70%;
  }
}
@media (max-width: 960px) {
  .place-page .header .title-container {
    position: relative;
    bottom: unset;
    left: unset;
    width: 100%;
    padding-top: 110px;
  }
}
@media (max-width: 620px) {
  .place-page .header .title-container {
    padding-top: 70px;
  }
}
.place-page .header .title-container .title {
  margin: 0;
  background-image: linear-gradient(30deg, white 70%, rgba(255, 255, 255, 0.9) 78%, rgba(255, 255, 255, 0.6) 100%);
  font-size: 1em;
  box-shadow: 0 3px 4px -4px rgba(0, 0, 0, 0.4);
  text-align: left;
  padding: 40px;
  border-radius: 3px;
}
@media (max-width: 960px) {
  .place-page .header .title-container .title {
    padding: 20px;
  }
}
.place-page .header .title-container .title h1 {
  padding-bottom: 10px;
  margin: 0;
  font-size: 2.2em;
  color: #444;
  text-align: left;
}
@media (max-width: 960px) {
  .place-page .header .title-container .title h1 {
    font-size: 1.8em;
  }
}
.place-page .header .title-container .title .city-county {
  padding: 0 0 10px 0;
  margin: 0;
  font-size: 1.2em;
  color: #444;
  text-decoration: none;
}
@media (max-width: 960px) {
  .place-page .header .title-container .title .city-county {
    font-size: 1em;
  }
}
.place-page .header .title-container .title .city-county a {
  color: #fc4444;
  border-bottom: 1px dashed #fc4444;
  opacity: 1;
  transition: 0.3s;
}
.place-page .header .title-container .title .city-county a:hover {
  color: #fc4444;
  border-bottom: 1px dashed rgba(0, 0, 0, 0);
}
.place-page .header .title-container .title .address {
  padding: 0 0 5px 0;
  margin: 0;
  font-size: 0.9em;
  color: #555;
  text-decoration: none;
}
.place-page .header .title-container .title .address .material-icons {
  vertical-align: -4px;
  font-size: 1.5em;
}
.place-page .header .title-container .title .website, .place-page .header .title-container .title .facebook-page {
  padding: 5px 0;
}
.place-page .header .title-container .title .website a, .place-page .header .title-container .title .facebook-page a {
  font-size: 1em;
  color: #fc4444;
  opacity: 1;
  transition: 0.3s;
}
.place-page .header .title-container .title .website a:hover, .place-page .header .title-container .title .facebook-page a:hover {
  color: #fc4444;
}
.place-page .header .title-container .title .website .material-icons, .place-page .header .title-container .title .facebook-page .material-icons {
  vertical-align: -6px;
}
.place-page .rating {
  padding: 10px 0 0 0;
  margin: 0;
  color: #ddd;
}
.place-page .uploaded-images-container {
  text-align: center;
  padding: 20px 0 20px 0;
}
.place-page .uploaded-images-container .image {
  position: relative;
  width: 150px;
  height: 100px;
  background-size: cover;
  display: inline-block;
  padding: 0;
  margin: 0;
  cursor: pointer;
  background-position: bottom center;
  transition: 2s;
  border-radius: 3px;
}
@media (max-width: 960px) {
  .place-page .uploaded-images-container .image {
    border-radius: 0;
  }
}
.place-page .uploaded-images-container .image:hover {
  text-decoration: none;
  background-position: top center;
}
.place-page .add-to-route-container {
  clear: both;
  padding-top: 10px;
}
.place-page .add-to-route-container .add-to-route {
  position: relative;
  bottom: unset;
  left: unset;
}
.place-page .map-wrapper {
  position: relative;
  margin-top: 20px;
  padding-top: 0;
}
.place-page .map-wrapper .google-maps-route {
  position: absolute;
  left: unset;
  bottom: unset;
  right: 20px;
  top: 20px;
}
.place-page .route-list h2 {
  font-size: 1em;
  color: #444;
  padding: 0 0 10px 0;
  margin: 0;
  font-weight: 400;
}
.place-page .route-list a {
  display: block;
  font-size: 0.8em;
  color: #fc4444;
  padding: 0 0 5px 0;
  transition: 0.3s;
}
.place-page .route-list a .material-icons {
  font-size: 1.2em;
  vertical-align: -4px;
}
.place-page .route-list a:hover {
  color: #444;
}
.place-page .accessibility-info {
  padding: 2px 0;
  color: #555;
  font-size: 0.9em;
}
.place-page .accessibility-info .material-icons {
  vertical-align: middle;
  padding-bottom: 5px;
}

.nearby-places h2 {
  background-color: #eee;
  color: #444;
  font-size: 22px;
  cursor: pointer;
  transition: 0.3s;
  position: relative;
  padding: 15px 15px 15px 20px;
  margin: 20px 0 20px 0;
  opacity: 1;
  border-radius: 3px;
}
@media (max-width: 960px) {
  .nearby-places h2 {
    border-radius: 0;
  }
}
.nearby-places .rating {
  padding: 0;
}

.distance-between {
  margin: 10px 0 0 20px;
  font-size: 0.8em;
  font-weight: 400;
}
.distance-between a {
  color: #444444;
  text-decoration: none;
  transition: 0.3s;
  border-bottom: 1px dashed #aaaaaa;
}
.distance-between a:hover {
  border-bottom: 1px dashed rgba(170, 170, 170, 0);
}

.rating {
  display: none !important;
  color: rgba(255, 255, 255, 0.5);
  display: inline-block;
  float: right;
  padding-right: 10px;
}
.rating .material-icons {
  font-size: 14px;
}
.rating .material-icons.active {
  color: #FFB904;
}

.logged-in .voting-mouseover, .logged-in .voting-mouseover-finished {
  color: #eb4f34 !important;
  cursor: pointer;
}

.place-page .header .rating {
  float: left;
}
.place-page .header .rating .material-icons {
  font-size: 24px;
}

.rating .done {
  color: #0d75bc;
  display: none;
}

header {
  background-color: #333;
  height: 80px;
  color: #fff;
  position: fixed;
  z-index: 20000;
  width: 100%;
  transition: 0.5s;
}
@media (max-width: 620px) {
  header {
    height: 50px;
  }
}
@media (max-height: 500px) {
  header {
    height: 50px;
  }
}
header.hidden {
  transform: translate3d(0, -100%, 0);
}
header .logo {
  float: left;
  height: 60px;
  margin-top: 10px;
}
@media (max-width: 620px) {
  header .logo {
    height: 40px;
    margin-top: 5px;
  }
}
@media (max-height: 500px) {
  header .logo {
    height: 40px;
    margin-top: 5px;
  }
}
header a {
  color: #fff;
}
header ul {
  padding: 0;
  margin: 0;
  float: right;
  display: flex;
}
@media (max-width: 1200px) {
  header ul {
    float: unset;
    position: absolute;
    top: 80px;
    left: 0;
    margin: 0;
    height: 100%;
    width: 50%;
    background-color: #fff;
    display: none;
  }
}
@media (max-width: 620px) {
  header ul {
    top: 50px;
  }
}
@media (max-width: 400px) {
  header ul {
    width: 100%;
  }
}
header ul li {
  padding: 0;
  margin: 0;
  list-style: none;
  height: 80px;
  display: inline-block;
}
@media (max-width: 1200px) {
  header ul li {
    height: unset;
    display: block;
  }
}
header ul li a {
  height: 80px;
  display: flex;
  align-items: center;
  padding: 0 20px 0 20px;
  color: #fff;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 600;
  transition: 0.3s;
}
@media (max-width: 1200px) {
  header ul li a {
    display: block;
    color: #333;
    background-color: #fff;
    height: unset;
    padding: 10px 15px;
    vertical-align: middle;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }
}
@media (max-width: 400px) {
  header ul li a {
    border-right: none;
  }
}
header ul li a:hover {
  background-color: #292929;
  color: #aaa;
}
header ul li a .material-icons {
  font-size: 1.8em;
  color: #fc4444;
  padding: 0 10px 0 0;
}
@media (max-width: 1200px) {
  header ul li a .material-icons {
    font-size: 1.8em;
    vertical-align: middle;
  }
}
header .my-route {
  position: fixed;
  top: 80px;
  right: 0;
  background-image: linear-gradient(30deg, #fc4444 0%, #bb1a1a 100%);
  border-radius: 0 0 0 3px;
  z-index: 3000;
  padding: 15px;
  font-size: 0.8em;
  font-weight: 600;
  box-shadow: -2px 1px 0px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: -2px 1px 0px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: -2px 1px 0px 1px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: 0.3s;
  display: block;
  text-transform: uppercase;
}
@media (max-width: 620px) {
  header .my-route {
    top: 50px;
  }
}
header .my-route.hidden {
  display: none;
}
header .menu-open-close {
  float: right;
  margin-top: 13px;
  display: none;
  z-index: 2000;
  cursor: pointer;
}
@media (max-width: 1200px) {
  header .menu-open-close {
    display: block;
  }
}
@media (max-width: 620px) {
  header .menu-open-close {
    margin-top: 5px;
  }
}
header .menu-open-close i {
  font-size: 56px;
  color: #ddd;
}
@media (max-width: 620px) {
  header .menu-open-close i {
    font-size: 40px;
  }
}
@media (max-width: 1200px) {
  header .container {
    max-width: 100% !important;
  }
}
@media (min-width: 768px) {
  header .container {
    width: unset;
  }
}

.pagination-wrapper {
  text-align: center;
}
.pagination-wrapper .pagination {
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
}
@media (max-width: 960px) {
  .pagination-wrapper .pagination {
    margin-bottom: 10px;
  }
}
.pagination-wrapper .pagination .page-item {
  display: inline-block;
}
.pagination-wrapper .pagination li span, .pagination-wrapper .pagination li a {
  font-size: 16px;
  border-radius: 2px;
  padding: 8px 16px;
  color: #444;
  background-color: #f5f5f5;
  border: none;
  margin: 2px;
  border-bottom: 1px solid #ddd;
  transition: 0.3s;
  display: inline-block;
}
@media (max-width: 960px) {
  .pagination-wrapper .pagination li span, .pagination-wrapper .pagination li a {
    font-size: 13px;
    padding: 4px 10px;
  }
}
.pagination-wrapper .pagination li span:hover, .pagination-wrapper .pagination li a:hover {
  background-color: #eee;
}
.pagination-wrapper .pagination li.active span.page-link {
  font-weight: 600;
  color: #fff;
  background-color: #FC4444;
  margin: 3px;
  border-bottom: 1px solid #FC4444;
}

.search .title-wrapper {
  padding: 15px 40px 15px 40px;
}
@media (max-width: 960px) {
  .search .title-wrapper {
    padding: 5px 20px 5px 20px;
  }
}
.search .title-wrapper h1 {
  margin: 0;
  font-size: 2em;
}
@media (max-width: 960px) {
  .search .title-wrapper h1 {
    font-size: 1.3em;
    color: #333;
    font-weight: 300;
  }
}
.search .title-wrapper h1 span {
  display: inline-block;
  margin: 5px;
}

@media (max-width: 960px) {
  .item-list {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 960px) {
  .item-list .col-lg-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.no-results {
  padding-top: 20px;
  font-size: 1.6em;
  text-align: center;
}

.fullsize-image-container {
  display: none;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  background-position: center center;
  z-index: 60000;
  background-repeat: no-repeat;
}
.fullsize-image-container .prev, .fullsize-image-container .next, .fullsize-image-container .close-gallery {
  position: absolute;
  cursor: pointer;
  color: #fff;
  z-index: 40010;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}
.fullsize-image-container .prev i, .fullsize-image-container .next i, .fullsize-image-container .close-gallery i {
  font-size: 80px;
  line-height: 1;
}
.fullsize-image-container .prev {
  left: 10px;
  top: calc(50% - 40px);
}
.fullsize-image-container .next {
  right: 10px;
  top: calc(50% - 40px);
}
.fullsize-image-container .close-gallery {
  top: 10px;
  right: 10px;
}
.fullsize-image-container .close-gallery i {
  font-size: 60px;
}

.marker-item {
  text-align: center;
  min-width: 170px;
}
.marker-item img {
  border-radius: 3px;
  margin-top: 5px;
}
.marker-item .add-to-route {
  font-size: 10px;
}
.marker-item a.title {
  color: #fc4444;
  text-transform: uppercase;
  font-weight: 600;
}
.marker-item .add-to-route-container {
  clear: both;
  padding-top: 5px;
}
.marker-item .add-to-route-container .add-to-route {
  position: relative;
  bottom: unset;
  left: unset;
}
.marker-item .add-to-route-container .add-to-route::before {
  top: 5px;
}

.route-arrow {
  text-align: center;
}
.route-arrow img {
  width: 40px;
  opacity: 0.3;
  margin-bottom: 15px;
}

.route-step-container, .route-step-container-top {
  margin: 0;
  padding: 0;
}
.route-step-container h1, .route-step-container-top h1 {
  font-size: 1.6em;
  margin: 0;
  padding: 20px 0 10px 0;
  text-align: center;
}
.route-step-container .info, .route-step-container-top .info {
  text-align: center;
  font-weight: 600;
}
.route-step-container .route-item-container, .route-step-container-top .route-item-container {
  padding: 20px 0 0 0;
  margin: 0;
}
.route-step-container .route-item-container .delete-item, .route-step-container-top .route-item-container .delete-item {
  position: absolute;
  z-index: 100;
  top: 20px;
  right: 0px;
  border-radius: 0 3px 0 3px;
  background-image: linear-gradient(30deg, #fc4444 0%, #bb1a1a 100%);
  padding: 1px 1px 0 0;
  margin: 0;
  height: 18px;
}
.route-step-container .route-item-container .delete-item .material-icons, .route-step-container-top .route-item-container .delete-item .material-icons {
  font-size: 1.1em;
}
.route-step-container .route-item-container .delete-item a, .route-step-container-top .route-item-container .delete-item a {
  color: #fff;
  padding: 0;
  margin: 0;
  line-height: 1;
}
.route-step-container .route-step-arrow, .route-step-container .route-step-finish, .route-step-container .route-start, .route-step-container-top .route-step-arrow, .route-step-container-top .route-step-finish, .route-step-container-top .route-start {
  background-image: url("../img/route-arrow.png");
  background-position: bottom center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}
.route-step-container .route-step-finish, .route-step-container-top .route-step-finish {
  background-image: url("../img/route-finish.png");
}
.route-step-container .route-start, .route-step-container-top .route-start {
  background-image: url("../img/route-start.png");
  height: 100px;
}
.route-step-container .spacer, .route-step-container-top .spacer {
  margin: 0;
  padding: 0;
  height: 0;
}

.route-step-container-top {
  align-items: center;
  justify-content: center;
}

.route-separator {
  height: 50px;
}
.route-separator .line:after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 50%;
  border-left: 2px dashed #888;
}

.save-route-form {
  display: none;
}
.save-route-form input.text {
  width: 50%;
  font-size: 16px;
}

.route-add-notification {
  position: fixed;
  background-color: #fff;
  padding: 10px;
  font-size: 14px;
  width: 150px;
  line-height: 1.2em;
  height: auto;
  text-align: center;
  z-index: 59000;
  top: 90px;
  right: 5px;
  border-radius: 3px;
  transition: 0.5s;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
  display: none;
  background-image: linear-gradient(30deg, #fc4444 0%, #bb1a1a 100%);
  color: #fff;
  font-weight: bold;
}

.route-saved {
  font-size: 1.2em;
  padding: 20px 0 0 0;
}

.route-list-container .saved-route {
  padding-bottom: 20px;
}
.route-list-container .saved-route h2 {
  font-size: 1.1em;
  font-weight: 600;
  margin: 0 0 5px 0;
  padding: 0;
}
.route-list-container .saved-route h2 a {
  color: #333;
}
.route-list-container .saved-route .saved-route-destination-list {
  color: #666;
  font-size: 0.8em;
  padding-bottom: 10px;
}

.route-page .description {
  height: auto;
}

.reorder-container {
  display: flex;
  margin-top: 20px;
  padding: 0 20px 0 20px;
  justify-content: space-between;
}
@media (max-width: 520px) {
  .reorder-container {
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}
.reorder-container .reorder {
  position: relative;
}
.reorder-container .reorder-down {
  left: unset;
  right: unset;
}
.reorder-container .reorder-up {
  left: unset;
  right: unset;
}
@media (max-width: 520px) {
  .reorder-container .reorder-up {
    margin-bottom: 10px;
  }
}

@media (max-width: 520px) {
  .save-route {
    margin-top: 10px;
  }
}

.admin, .route-list {
  padding-top: 60px;
  margin-bottom: 40px;
}
.admin h1, .route-list h1 {
  margin-top: 40px;
}
.admin textarea, .admin input.text, .admin select, .admin button, .route-list textarea, .route-list input.text, .route-list select, .route-list button {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
}
.admin #usermenu, .route-list #usermenu {
  background-color: #222;
  display: block;
  overflow: auto;
}
.admin #usermenu ul, .route-list #usermenu ul {
  list-style: none;
  padding: 10px 0 10px 0;
  margin: 0;
  overflow: auto;
}
.admin #usermenu ul li, .route-list #usermenu ul li {
  padding: 0 10px;
  margin: 0;
  float: left;
}
.admin #usermenu ul li a, .route-list #usermenu ul li a {
  color: #aaa;
  font-weight: 600;
}
.admin #usermenu ul li a:hover, .route-list #usermenu ul li a:hover {
  color: #fff;
}
.admin table, .route-list table {
  width: 100%;
  border-spacing: 0;
  border-collapse: separate;
}
.admin table tr, .route-list table tr {
  padding: 0;
  margin: 0;
  border: 0;
  overflow: auto;
}
.admin table tr:hover, .route-list table tr:hover {
  background-color: #eee;
}
.admin table tr td, .admin table tr th, .route-list table tr td, .route-list table tr th {
  border: 0;
  border-bottom: 1px solid #ddd;
  padding: 5px;
}
.admin table thead, .route-list table thead {
  background-color: #fc4444;
  color: #fff;
}
.admin table thead tr:hover, .route-list table thead tr:hover {
  background-color: #fc4444;
}
.admin table thead tr th, .route-list table thead tr th {
  border: 0;
  padding: 10px 5px;
}
.admin button, .route-list button {
  border: none;
  padding: 5px 15px 3px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}
.admin button .material-icons, .route-list button .material-icons {
  font-size: 20px;
  vertical-align: middle;
  padding: 0 5px 3px 0;
}
.admin button.edit, .route-list button.edit {
  background-color: #1d5fae;
  color: #fff;
}
.admin button.edit:hover, .route-list button.edit:hover {
  background-color: #134e94;
}
.admin .edit-images-place-link, .route-list .edit-images-place-link {
  margin-bottom: 20px;
  text-align: center;
}
.admin .edit-images .remaining-images, .route-list .edit-images .remaining-images {
  font-size: 22px;
  text-align: center;
  padding-bottom: 30px;
}
.admin .edit-images .image-container-wrapper, .route-list .edit-images .image-container-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 30px;
}
.admin .edit-images .image-container-wrapper .image-container, .route-list .edit-images .image-container-wrapper .image-container {
  position: relative;
  padding: 10px;
  margin: 10px;
  border: 1px solid #ddd;
}
.admin .edit-images .image-container-wrapper .image-container .image-delete, .route-list .edit-images .image-container-wrapper .image-container .image-delete {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #aa0000;
  color: #fff;
  font-size: 50px;
  line-height: 20px;
  padding: 0 3px 6px 3px;
  font-weight: 600;
}
.admin .edit-images .image-order, .route-list .edit-images .image-order {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 5px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-size: 12px;
  font-weight: 600;
}
.admin .edit-images .image-reorder, .route-list .edit-images .image-reorder {
  position: absolute;
  bottom: 0;
  right: 0;
}
.admin .edit-images .image-reorder a, .route-list .edit-images .image-reorder a {
  color: #fff;
  font-size: 20px;
}
.admin .edit-images .image-reorder a:hover, .route-list .edit-images .image-reorder a:hover {
  color: #ddd;
}

.edit-place {
  overflow: auto;
}
.edit-place a {
  display: inline-block;
  margin: 0 0 20px 0;
  float: right;
  padding: 12px 15px 10px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  background-color: #1d5fae;
  color: #fff;
}
.edit-place a .material-icons {
  font-size: 20px;
  vertical-align: middle;
  padding: 0 5px 3px 0;
}

.dashboard .dashboard-inner-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.dashboard .dashboard-inner-wrapper .dashboard-item {
  border: 1px solid #ddd;
  padding: 0 20px 20px 20px;
  width: 48%;
}

/*# sourceMappingURL=main.css.map */
